.forest-background{
  background: url(../assets/images/forest4.jpg) no-repeat fixed center;
  background-size: cover;
}

.cardTitle{
  font-size: 17px;
  font-weight: bold;
}

.cardText{
  font-size: 17px;
}

.visited {
  animation: fill .4s ease-in-out .4s forwards, scale .4s ease-in-out .9s both;
}

$color-green: #7ac142;
$color-red: #ff0000;


.unvisited {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin-left: 10px;
  background: $color-red;
  box-shadow: inset 0px 0px 0px $color-red;

}

@keyframes fill {
  50% {
    transform: scale3d(1.5, 1.5, 1);
    box-shadow: inset 0px 0px 0px $color-red;
  }
  100% {
    box-shadow: inset 0px 0px 0px 30px $color-green;
  }
}

