<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vorhandene Vitaparcours</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="tracks.length === 0">
    "Keine Vitaparcours gefunden"
  </div>
  <ion-card *ngFor="let track of tracks; let i=index" (click)="goToRunningPage(track)">
    <ion-card-header>
      {{track.name}}
    </ion-card-header>
    <ion-card-content>
      <b>Länge: </b>{{track.distanceInMeters | number:'1.0-0'}}m
    </ion-card-content>
  </ion-card>
</ion-content>
